# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
.cursor/

# Logs and databases
*.log
*.sqlite3
logs/
output/
output.log

# OS-specific
.DS_Store
Thumbs.db

# Project-specific
ta-lib/
*.h5
*.pkl
*.model 